#include <dt-bindings/zmk/matrix_transform.h>
#include "fahrstuhl_nice_nano_split_handwire.overlay"
&default_transform { // The matrix transform for this board is 6 columns over because the left half is 6 columns wide according to the matrix.
    col-offset = <6>;
};

&kscan0 {
    col-gpios = 
                <&gpio0 22 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 20 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 17 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio1 7 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 8 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 6 (GPIO_ACTIVE_HIGH)>
                ;
/*
    col-gpios = 
                <&gpio0 6 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 8 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio1 7 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 17 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 20 (GPIO_ACTIVE_HIGH)>
                ,
                <&gpio0 22 (GPIO_ACTIVE_HIGH)>
                ;
                */
};
